:root{--primary:#343a40;
    --bgSecondary:#343a40;
    --ligth:#fff; }
.btn-primary{
    background-color:var(--primary);
    border-color:var(--primary);
}
body{
    font-family: 'Corben', cursive;
font-family: 'Lemonada', cursive;
}
.btn-primary:hover{
    background-color:var(--primary);
}
.btn-primary:hover{background-color: var(--primary);}
.navbar:not(.navbar-dashboard){
    
    min-height: 90px;
}
.navbar.btn{
        padding: .525rem 1.25rem;
        
    }
    .bg-primary{
        background-color: var(--primary) !important;
    }
.text-primary{
    color:var(--primary) !important;
}   
section{
    /* height: 900px; */
    height: 100vh;

    
}

.bg-header img{
    height: 30%;
    width: 40%;
    border-radius: 40px;
} 
   
    .content{
        max-width: 100%;
text-align: center;

        
    
    }
    
    .publications img{
        height: 50%;
        max-width: 80%;
        border-radius: 40px;
    }
    
    .block{
        text-align:center;
        
        }
        
        .list{
        text-align: left;
        display:inline-block;
        }
    .my-form{
        max-width: 450px;
    }
    .my-form .form-control{
        min-height: 80px;
    }
    .my-form .btn{
        top: 12px;
        right: 10px;
        min-height: 55px;
    }
    #padre{text-align: center;}
    #hijo{margin: 0px auto;}
    #ce{text-align: center;}
    #ca{margin: 0px auto;}
    @media (max-width:1376px){
        .container-mobile{
            max-width: 95%;
        }
        section{
            max-width: 100%;
            
            
        }
       
        
    }
    @media (max-width:992px){
        .navbar{
            position: relative !important;
        }
        section{
            height: unset;
        }
        .w-75{
            width: 100% !important;
        }
        html, body{
            overflow-x:hidden ;
        }
        
    }
/*-----------------*/
.img-logo-dashboard{
    width: 28px;
    height: 27px;
}
.list-group-item {
    background-color: var(--primary);
    color: var(--ligth);
}
.navbar-toggler:focus{
    box-shadow: initial !important ;
}


.blog-header {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
  }
  
  .blog-header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
    font-size: 2.25rem;
  }
  
  .blog-header-logo:hover {
    text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
  }
  
  .display-4 {
    font-size: 2.5rem;
  }
  @media (min-width: 768px) {
    .display-4 {
      font-size: 3rem;
    }
  }
  
  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }
  
  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
  
  .nav-scroller .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
  }
  
  .card-img-right {
    height: 100%;
    border-radius: 0 3px 3px 0;
  }
  
  .flex-auto {
    flex: 0 0 auto;
  }
  
  .h-250 { height: 250px; }
  @media (min-width: 768px) {
    .h-md-250 { height: 250px; }
  }
  
  /* Pagination */
  .blog-pagination {
    margin-bottom: 4rem;
  }
  .blog-pagination > .btn {
    border-radius: 2rem;
  }
  
  /*
   * Blog posts
   */
  .blog-post {
    margin-bottom: 4rem;
  }
  .blog-post-title {
    margin-bottom: .25rem;
    font-size: 2.5rem;
  }
  .blog-post-meta {
    margin-bottom: 1.25rem;
    color: #727272;
  }
  
  /*
   * Footer
   */
  .blog-footer {
    padding: 2.5rem 0;
    color: #727272;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
  }
  .blog-footer p:last-child {
    margin-bottom: 0;
  }


  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
