


<div
            class="d-flex" id="wrapper" style="background-color:#67b99a;">
            <!-- Sidebar-->
            <app-sidebar-dashboard></app-sidebar-dashboard>
            <!-- Page content wrapper-->
            <div
                id="page-content-wrapper">
                <!-- Top navigation-->
                <app-navbar-dashboard></app-navbar-dashboard>
                <!-- Page content-->
                <div class="container-fluid pt-3 " >
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>