<div class="border-end bg-primary" id="sidebar-wrapper">
    <div class="sidebar-heading border-bottom " style="background-color: #67b99a;">
        <img src="../assets/images/undraw_mathematics_4otb.svg" alt="" class="img-logo-dashboard">
        MaTeMáTiCaS
    </div>
    <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action p-3 d-flex align-items-center item-link" routerLink="/dashboard/publications/create-publications">
          <i class="fab fa-meetup fa-lg"></i>
            <span class="ms-3">Crear Publicacion</span>
        </a>
        <a class="list-group-item list-group-item-action p-3 d-flex align-items-center item-link" routerLink="/dashboard/publications/list-publications" >
          <i class="fas fa-book-reader fa-lg"></i>
            <span class="ms-3">Ver Publicaciones</span>
        </a>
        
        <a class="list-group-item list-group-item-action p-3 d-flex align-items-center item-link" routerLink="/dashboard/publications/videos-publications">
          <i class="fas fa-photo-video fa-lg"></i>
            <span class="ms-3">Videos</span>
        </a>
        <a class="list-group-item list-group-item-action p-3 d-flex align-items-center item-link" routerLink="/dashboard/publications/noticias-publications">
          <i class="far fa-bell fa-lg"></i>
            <span class="ms-3">Noticias</span>
        </a>
    </div>
</div>
