<nav class="navbar navbar-expand-lg navbar-light bg-light position-absolute w-100 " style="background-color:#212529!important ; ">
    <div class="container container-mobile" >
      <a class="navbar-brand fw-bold text-white " href="#">MaTeMáTiCaS</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="background-color: white;">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          
          <li class="nav-item mb-2">
            <a class="btn btn-light me-4"  href="#">Videos</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-light" routerLink="/auth/login">Ingresar</a>
          </li>
          
        </ul>
        
      </div>
    </div>
  </nav>