
<section style="background-image: url('/assets/images/stacked-peaks-haikei\ \(1\).svg') ; ">
    <div class="row g-0 h-100 mb-5" >
        <div class="text-center m-auto mb-5">
            <main class="form-signin " >
                <form method= "GET" action="" >
                  <img class="mb-1" src="../assets/images/undraw_secure_server_re_8wsq.svg" alt="" width="125" height="125">
                  <h1 class="h3 mb-1 fw-bold text-white">Por favor, registrese</h1>
              
                  <div class="form-floating mb-2 mt-1">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="correo" required>
                    <label for="floatingInput">Dirección de correo electrónico</label>
                  </div>
                  <div class="form-floating mb-2">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="contraseña" required>
                    <label for="floatingPassword">Contraseña</label>
                  </div>
                  <div class="form-floating ">
                      <input type="text" class="form-control" id="floatingPassword" placeholder="Username" name="nombre" required>
                      <label for="floatingPassword">Nombre de usuario</label>
                    </div>
              
                  <div class="checkbox mb-1 text-white">
                    <label>
                      <input  type="checkbox" value="remember-me"> Recordarme
                    </label>
                  </div>
                 <!-- <button class="w-100 btn btn-lg text-white" type="submit" style="background-color: #212529;">Registrarse</button>-->
                 <a class="w-100 btn btn-lg text-white" routerLink="/dashboard/home" style="background-color: #212529;">Registrarse</a>
                  <p class="mt-1 mb-2 text-white fw-bold">&copy; MaTeMáTiCaS</p>
                </form>
              </main>

        </div>
    </div>
   
</section>
