<div class="row d-flex d-flex justify-content-between">
    <div class="w-75">
       <h3>Tú puedes aprender.</h3>
    </div>
   
</div>
<div class="row  px-5 mt-3 ">
    <div class="col-lg-4 mb-4  " id="ce">
     <div class="card" style="width: 18rem;" id="ca">
       <img src="../assets/images/undraw_teaching_f1cm.svg" class="card-img-top" alt="..." style="height: 14rem;">
       <div class="card-body">
         <p class="card-text">Aprendizaje personalizado
           Los estudiantes practican a su propio ritmo; primero para llenar las lagunas en su comprensión y luego acelerar su aprendizaje.</p>
       </div>
     </div>
    </div>
    <div class="col-lg-4 mb-4"  id="ce">
     <div class="card" style="width: 18rem; " id="ca">
       <img src="../assets/images/undraw_Bibliophile_re_xarc (1).svg" class="card-img-top" alt="..." style="height: 14rem;">
       <div class="card-body">
         <p class="card-text">Contenido de confianza
           Creado por expertos, la biblioteca de ejercicios y lecciones. Y siempre es gratis para estudiantes y maestros.</p>
       </div>
     </div>
    </div>
    <div class="col-lg-4 " id="ce">
     <div class="card" style="width: 18rem;" id="ca">
       <img src="../assets/images/undraw_quiz_nlyh.svg" class="card-img-top" alt="..." style="height: 14rem;">
       <div class="card-body">
         <p class="card-text">
           Los maestros pueden identificar las lagunas en comprensión de sus estudiantes, crear una clase  y satisfacer las necesidades de cada uno.</p>
       </div>
     </div>
    </div>
</div>
<div class="row mt-4 ">
       
       <div class="col-lg-12 text-center">
           <p>Construye un entendimiento profundo y sólido en matemáticas.</p>
       </div>
</div>
