
    <section   style="background-color: #74c69d !important;">
        <div class="row g-0 h-100  " >
          <div class="col-lg-12 d-flex bg-header my-5"  >
            <div class="content mx-auto align-self-center px-3 my-3 ">
          <h1 class="display-5 text-white  fw-bold mb-2 " >La manera mas facil de aprender.</h1>
          <img src="/assets/images/mathematics-1235606_1280.jpg" alt="" class="img-fluid mb-3">
          <h2 class=" text-white mb-2" style="text-align: center;">Teoria y ejercicios de matemáticas</h2>
        </div>
          </div>
         <div class="position-relative">
          <svg style="position: absolute; bottom:0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="#212529" fill-opacity="1" d="M0,320L34.3,309.3C68.6,299,137,277,206,261.3C274.3,245,343,235,411,213.3C480,192,549,160,617,165.3C685.7,171,754,213,823,213.3C891.4,213,960,171,1029,138.7C1097.1,107,1166,85,1234,96C1302.9,107,1371,149,1406,170.7L1440,192L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z"></path>
          </svg>
        </div>
        </div>
      </section>
      <section class="d-flex   " style="background-color: #40916c;" >
        <div class="container align-self-center mb-lg-0  mt-lg-0"  >
          <h2 class="display-4 py-2 text-center text-white">Areas de Matematicas</h2>
          <div class="row  publications"  >
            <div class="col-lg-4 py-2 block" data-aos="flip-left" data-aos-delay="300"  >
              <a href="#" class="text-decoration-none text-white">
              
               <img src="/assets/images/mathematics-936745_1280.jpg" alt="" class="img-fluid mb-4">
                <p class="fw-bold " style="text-align:center" >ÁLGEBRA</p>
                
                  <ul class="list">
                    <li>Determinantes</li>
                    <li>Ecuaciones</li>
                    <li>Matrices</li>
                    <li>Polinomios</li>
                    <li>Programacion Lineal</li>
  
                  </ul>
                
              </a>
            </div>
            <div class="col-lg-4 py-2 block" data-aos="flip-left" data-aos-delay="300"  >
              <a href="#" class="text-decoration-none text-white">
                <img src="/assets/images/pexels-monstera-6238297.jpg" alt="" class="img-fluid mb-4">
                <p class="fw-bold" style="text-align:center" >CÁLCULO</p>
                <ul  class="list">
                  <li>Derivacion</li>
                  <li>Integracion</li>
                  <li>Funciones</li>
                  <li>Inecuaciones</li>
                  <li>Limites</li>
                </ul>
              </a>
            </div>
            <div class="col-lg-4 py-2 block" data-aos="flip-left" data-aos-delay="300" >
              <a href="#" class="text-decoration-none text-white">
                <img src="/assets/images/graph-963016_1280.png" alt="" class="img-fluid mb-4">
                <p class="fw-bold" style="text-align:center" >ESTADÍSTICA</p>
                <ul class="list">
                  <li>Distribuciones</li>
                  <li>Estadistica</li>
                  <li>Muestreo</li>
                  <li>Probabilidad</li>
                  <li>Combinatoria</li>
                </ul>
  
              </a>
            </div>
          </div>
        </div>
      </section>
      <section class="d-flex " style="background-color:#40916c;" >
        
        <div class="container align-self-center  mb-lg-0 " > 
          
          <div class="row  publications ">
            <div class="col-lg-4 py-2 block" data-aos="flip-right" data-aos-delay="300">
              <a href="#" class="text-decoration-none text-white">
                <img src="/assets/images/blackboard-1644744_1280.png" alt="" class="img-fluid mb-4">
                <p class="fw-bold " style="text-align:center" >GEOMETRÍA</p>
                <ul class="list">
                  <li>Angulos</li>
                  <li>Area</li>
                  <li>Volumen</li>
                  <li>Conicas</li>
                  <li>Poligonos</li>
                </ul>
              </a>
            </div>
            <div class="col-lg-4 py-2 block" data-aos="flip-right" data-aos-delay="300">
              <a href="#" class="text-decoration-none text-white">
                <img src="/assets/images/pi-1453836_1280.jpg" alt="" class="img-fluid mb-4">
                <p class="fw-bold" style="text-align:center" >TEORÍA DE NÚMEROS</p>
                <ul  class="list">
                  <li>Divisivilidad</li>
                  <li>Numeros enteros</li>
                  <li>Numeros naturales</li>
                  <li>Numeros decimales</li>
                  <li>Numeros reales</li>
                </ul>
              </a>
            </div>
            <div class="col-lg-4 py-2 block" data-aos="flip-right" data-aos-delay="300">
              <a href="#" class="text-decoration-none text-white">
                <img src="/assets/images/math-1500720_1280.jpg" alt="" class="img-fluid mb-4">
                <p class=" fw-bold" style="text-align:center" >FUNDAMENTOS MATEMÁTICOS</p>
                <ul  class="list">
                  <li>Teoria de conjuntos</li>
                  <li>Relacione binarias</li>
                </ul>
              </a>
            </div>
          </div>
        </div>
      </section>
      
