<div class="container-fluid pt-3 " >
    <div>
        <h3 class="pb-4 mb-4 fst-italic border-bottom text-center">
            Videos de apoyo
          </h3>

    </div>

    <div class="row d-flex justify-content-center row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
            <div class="card shadow-sm text-light" style="background-color: #343a40;">
              
              <video class="bd-placeholder-img card-img-top" width="100%" height="225" controls>
                <source src="/assets/videos/y2mate.com - Qué son las determinantes  Álgebra  Educatina_480p.mp4" type="video/mp4">
              </video>
  
              <div class="card-body " >
                <h5 class="card-title" style="text-align: center;">Algebra</h5>
                <p class="card-text">Que son las determinantes.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group" >
                    <button type="button" class="btn btn-sm btn-outline-secondary">Ver mas</button>
                    
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        <div class="col">
            <div class="card shadow-sm text-light" style="background-color: #343a40; ">
              
              <video class="bd-placeholder-img card-img-top" width="100%" height="225" controls>
                <source src="/assets/videos/y2mate.com - REGLAS DE DERIVACIÓN  Repaso en 7 minutos con ejemplos_480p.mp4" type="video/mp4">
              </video>
  
              <div class="card-body">
                <h5 class="card-title" style="text-align: center;">Cálculo</h5>
                <p class="card-text">Reglas de derivacion.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Ver mas</button>
                    
                  </div>
                  
                </div>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card shadow-sm text-light" style="background-color: #343a40;">
              
              <video class="bd-placeholder-img card-img-top" width="100%" height="225" controls>
                <source src="/assets/videos/y2mate.com - PROBABILIDAD Super facil_480p.mp4" type="video/mp4">
              </video>
  
              <div class="card-body "  >
                <h5 class="card-title" style="text-align: center;">Estadistica</h5>
                <p class="card-text">Que es probabilidad.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Ver mas</button>
                    
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
