:root{--primary:#343a40;
    --bgSecondary:#343a40;
    --ligth:#fff; }
.btn-primary{
    background-color:var(--primary);
    border-color:var(--primary);
}
body{
    font-family: 'Corben', cursive;
font-family: 'Lemonada', cursive;
}
.btn-primary:hover{
    background-color:var(--primary);
}
.btn-primary:hover{background-color: var(--primary);}
.navbar:not(.navbar-dashboard){
    
    min-height: 90px;
}
.navbar.btn{
        padding: .525rem 1.25rem;
        
    }
    .bg-primary{
        background-color: var(--primary) !important;
    }
.text-primary{
    color:var(--primary) !important;
}   
section{
    /* height: 900px; */
    height: 100vh;

    
}

.bg-header img{
    height: 30%;
    width: 40%;
    border-radius: 40px;
} 
   
    .content{
        max-width: 100%;
text-align: center;

        
    
    }
    
    .publications img{
        height: 50%;
        max-width: 80%;
        border-radius: 40px;
    }
    
    .block{
        text-align:center;
        
        }
        
        .list{
        text-align: left;
        display:inline-block;
        }
    .my-form{
        max-width: 450px;
    }
    .my-form .form-control{
        min-height: 80px;
    }
    .my-form .btn{
        top: 12px;
        right: 10px;
        min-height: 55px;
    }
    #padre{text-align: center;}
    #hijo{margin: 0px auto;}
    #ce{text-align: center;}
    #ca{margin: 0px auto;}
    @media (max-width:1376px){
        .container-mobile{
            max-width: 95%;
        }
        section{
            max-width: 100%;
            
            
        }
       
        
    }
    @media (max-width:992px){
        .navbar{
            position: relative !important;
        }
        section{
            height: unset;
        }
        .w-75{
            width: 100% !important;
        }
        html, body{
            overflow-x:hidden ;
        }
        
    }
/*-----------------*/
.img-logo-dashboard{
    width: 28px;
    height: 27px;
}
.list-group-item {
    background-color: var(--primary);
    color: var(--ligth);
}
.navbar-toggler:focus{
    box-shadow: initial !important ;
}


