<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom navbar-dashboard bg-primary text-light">
    <div class="container-fluid">
        <!-- <button class="btn btn-primary" id="sidebarToggle">Toggle Menu</button> -->
        <i  class="fas fa-map-signs" id="sidebarToggle" (click)="openCloseSidebar()"></i>
        <button class="navbar-toggler text-light border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-caret-square-down"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link text-light" href="#!">Principal</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="#!">Link</a>
                </li> -->
                
            </ul>
        </div>
    </div>
</nav>
