<div class="row">
    <div class="col-lg-12">
        <div class="card" >
            <div class="card-header fw-bold text-center text-light" style="background-color:#036666;">
               Añadir Nueva Publicacion
            </div>
            <div class="card-body">
              <form action="">
                <div class="mb-3">
                    <label for="Input1" class="form-label fw-bold">Nombre de la nueva publicacion</label>
                    <input type="text" class="form-control" id="Input1" placeholder="Nombre">
                  </div>
                  <div class="mb-3">
                    <label for="Input2" class="form-label fw-bold">Descripcion</label>
                    <textarea class="form-control" id="Input2" rows="3"></textarea>
                  </div>
                  <div class="mb-3">
                    <label for="Input3" class="form-label fw-bold">Anadir Archivo</label>
                    <input type="file" class="form-control" id="Input3" placeholder="Archivo">
                  </div>
                  <div class="mb-3">
<div class="d-grid gap-2">
<button class="btn btn-primary" type="button">Añadir nueva publicacion</button>
</div>
                  </div>
              </form>
            </div>
          </div>

        
    </div>

</div>
