<section class="d-flex pt-5 pb-5 h-100  " style="background-color: #40916c;">
    <div class="container align-self-center text-light  "  >
      <div class="bg-primary text-light text-center p-5 rounded mb-5  mx-auto w-75" data-aos="fade-up" data-aos-delay="300">
        <h2 class="display-5 fw-bold ">¿Te quieres suscribir al blog?</h2>
        
        <div class="mx-auto my-form position-relative d-none d-md-block">
          <input type="text" class="form-control mb-3" placeholder="Correo electronico">
          <button type="button" class="btn btn-primary position-absolute">Registrate ya</button>
        </div>
        <div class="d-md-none">
          <input type="text" class="form-control mb-3" placeholder="Correo electronico">
          <button type="button" class="btn btn-primary w-100">Registrate ya</button>
        </div>
      </div>
      <div class="row mb-3 text-center "   data-aos="flip-up" data-aos-delay="300" style="background-color:#212529;">
        
        <div class="  col-lg-12 col-sm-6 my-4 mb-2 " >
          <h5 class="fw-bold mb-3">Redes Sociales</h5>
          <p class="lead mb-3">Ana Gabriel Espinoza Rios</p>
          <ul class="list-unstyled">
            
            <li>
              <ul class="list-inline ">
                <li class="list-inline-item me-3" > <a href="" class="lead text-light"><i class="fab fa-facebook-square" style="font-size: 40px;"></i> </a></li>
                <li class="list-inline-item me-3"> <a href="" class="lead text-light"> <i class="fab fa-whatsapp-square" style="font-size: 40px;"></i></a></li>
                <li class="list-inline-item me-3"> <a href="" class="lead text-light"> <i class="fab fa-twitter-square" style="font-size: 40px;"></i></a></li>
                <li class="list-inline-item me-3"> <a href="" class="lead text-light"> <i class="fab fa-instagram-square" style="font-size: 40px;"></i></a></li>
                <li class="list-inline-item me-3"> <a href="" class="lead text-light"> <i class="fab fa-google-plus-square" style="font-size: 40px;"></i></a></li>
                <li class="list-inline-item me-3"> <a href="" class="lead text-light"> <i class="fab fa-pinterest-square" style="font-size: 40px;"></i></a></li>
              </ul>
            </li>
    
          </ul>
          <p>¡Te ayudamos en Matematicas!</p>
    
        </div>
    
      </div>
    </div>
        </section>