<div class="row   " >
    <div class="col-lg-6 px-5 mb-3" id="padre"  >
        <h3 class="text-center mb-5">Noticias y novedades</h3>
        <p class="mb-3">Ahora  en tik tok,cubriendo las areas de matematricas,en video de hasta 3 minutos</p>
        <p  class="mb-3">Nuevo material,para ejercitar problemas con enunciados</p>
        <p  class="mb-3">No dejés de visitar nuestra pagina de divulgación matemática, con información . </p>
        <p  class="mb-3">
            Te presentamos videos de  los contenidos  medios y universitarios,
        </p>
        <p >Lorem ipsum dolor sit amet consectetur.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. In laboriosam asperiores </p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa beatae vero necessitat</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor, autem? Quos, ullam unde </p>

        
        </div>

        <div class="col-lg-6 px-5"  id="padre" >
            <h3 class="mb-3">Aqui puedes encontrar</h3>

            <div class="card mb-4 " style="width: 18rem;" id="hijo">
                <img src="../assets/images/undraw_Personal_notebook_re_d7dc.svg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title text-center">Problemas</h5>
                  
                  <a href="#" class="btn btn-primary">Ver mas</a>
                </div>
              </div>
              <div class="card mb-3" style="width: 18rem;" id="hijo">
                <img src="../assets/images/undraw_education_f8ru.svg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title text-center">Solucionario</h5>
                  
                  <a href="#" class="btn btn-primary">Ver mas</a> 
                  
                </div>
              </div>
        </div>
    </div>
