<div class="row">
    <div class="card ">
        <div class="card-header  text-white text-center" style="background-color: #036666;">
         Todas las nuevas publicaciones
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table  text-white" style="background-color:#469d89;" >
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">N.Publicacio</th>
                            <th scope="col">Descripcion</th>
                            <th scope="col">Archivo</th>
                          </tr>
                    </thead>
                    <tbody>
                      <tr >
                        <th scope="row">1</th>
                        <td>Calculo</td>
                        <td>Otto</td>
                        <td>-----</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Trigonometria</td>
                        <td>Ejercicios</td>
                        <td>----</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Conjuntos</td>
                        <td>ejercio.pdf</td>
                      </tr>
                      <tr>
                        <th scope="row">4</th>
                        <td>Probabilidad</td>
                        <td>Material</td>
                        <td>----</td>
                      </tr>
                      
                    </tbody>
                  </table>
             </div >
             <div  style="text-align: center;">
                <a href="#" class="btn btn-primary " style="background-color: #036666;">Actualizar </a>
             </div>
          
        </div>
      </div>

    
 </div>
